@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');

.level-1 {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.level-1 .background {
    position: fixed;
    background-image: url('../images/Level Background.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: .5;
    z-index: -1;
}

@keyframes popup-result {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.level-1 .result {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
}

.level-1 .result .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    width: 800px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 50px rgba(113, 226, 0, .35);
    animation: popup-result .25s linear;
    margin: 10px;
}

.level-1 .result .popup img {
    height: 300px;
}

.level-1 .result .popup p:not(.next-button p) {
    font-family: "Baloo 2", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #081F5C;
}

.level-1 .result .popup .next-button {
    background: linear-gradient(to left, #71E200, #00BE6E);
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 40px;
    border-radius: 25px;
    cursor: pointer;
    transition: .25s;
}

.level-1 .result .popup .next-button:hover {
    transform: scale(1.03);
}

.level-1 .header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 8px;
}

.level-1 .header .header-line {
    width: 90px;
    height: 1px;
    background-color: #ffffff;
}

.level-1 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

@keyframes astronaut-question-floating {
    from {
        transform: translateY(40px);
    }

    to {
        transform: translateY(20px);
    }
}

.level-1 .title img {
    height: 340px;
    position: absolute;
    margin-left: -50%;
    animation: astronaut-question-floating 3s ease-in-out infinite alternate;
}

.level-1 .title .question {
    min-width: 250px;
    width: 480px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #AD6EFE, #33F2DA);
    border-radius: 25px;
    font-family: "Baloo 2", sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0 3px 4px rgba(0, 0, 0, .15);
    position: relative;
    padding: 10px;
}

.level-1 .title .question p {
    max-width: 90%;
}

.level-1 .pair-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
    font-family: "Baloo 2", sans-serif;
    margin: 10px;
    margin-top: 100px;
    padding-bottom: 50px;
}

.level-1 .pair-container .left-choice {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.level-1 .pair-container .right-choice {
    width: 505px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.level-1 .pair-container .left-choice .choice {
    height: 80px;
    font-size: 30px;
}

.level-1 .pair-container .right-choice .choice {
    height: 100px;
    font-size: 26px;
}

.level-1 .pair-container .choice {
    height: 100px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: .25s;
    z-index: 0;
}

.level-1 .pair-container .shadow:before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(5px, 5px);
    z-index: -2;
    background: var(--shadowBeforeBackground, linear-gradient(225deg, #B721FF, #21D4FD));
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
}

.level-1 .pair-container .shadow::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: inherit;
    box-shadow: inherit;
    border-radius: inherit;
}

.level-1 .pair-container .choice:hover {
    transform: scale(1.03);
}

.level-1 .pair-container .choice:active {
    transform: scale(0.99);
}

.level-1 .pair-container .choice p {
    width: 80%;
    color: #081F5C;
}

.level-1 .pair-container .choice img {
    display: none;
    height: 40px;
    filter: invert(100%);
    position: absolute;
    right: 10px;
}

@media only screen and (max-width: 1280px) {
    .level-1 .title img {
        display: none;
    }
}

@media only screen and (max-width: 840px) {
    .level-1 .pair-container .choice p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .level-1 .pair-container .choice p {
        font-size: 16px;
    }
    .level-1 .pair-container .choice img {
        display: none;
        visibility: hidden;
    }
}